@import '/static/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@keyframes gradientMotion {
    0% { border-image-source: linear-gradient(to right, #2980b1, #3a9cd5, #5ba0c8, #6db5de); }
    25% { border-image-source: linear-gradient(to right, #6db5de, #2980b1, #3a9cd5, #5ba0c8); }
    50% { border-image-source: linear-gradient(to right, #5ba0c8, #6db5de, #2980b1, #3a9cd5); }
    75% { border-image-source: linear-gradient(to right, #3a9cd5, #5ba0c8, #6db5de, #2980b1); }
    100% { border-image-source: linear-gradient(to right, #2980b1, #3a9cd5, #5ba0c8, #6db5de); }
}
@keyframes gradientMotionOrange {
    0% { border-image-source: linear-gradient(to right, #FFA07A, #FF6347, #FF4500, #FF6347); }
    25% { border-image-source: linear-gradient(to right, #FF6347, #FFA07A, #FF4500, #FF6347); }
    50% { border-image-source: linear-gradient(to right, #FF4500, #FF6347, #FFA07A, #FF6347); }
    75% { border-image-source: linear-gradient(to right, #FF6347, #FF4500, #FF6347, #FFA07A); }
    100% { border-image-source: linear-gradient(to right, #FFA07A, #FF6347, #FF4500, #FF6347); }
}

@keyframes animateCurves {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
}
@keyframes animateCurvesToUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
}

body{
    font-family: 'Dosis', sans-serif;
    background-color: #000000ec;
    color: #fff;
}

.container {
    padding: 0;
}

.curve-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    pointer-events: none;
    overflow: hidden;
}
.curve-1 {
    position: absolute;
    top: -50vh;
    width: 100%;
    height: 150%;
    background: linear-gradient(to bottom,#1a1a1a0c, rgba(49, 173, 182, 0.02));
    animation: animateCurves 22s linear infinite;
    pointer-events: none;
}
.curve-2 {
    position: absolute;
    top: -80vh;
    width: 100%;
    height: 150%;
    background: linear-gradient(to bottom,#1a1a1a0c, rgba(142, 83, 38, 0.12), #1a1a1a0c);
    animation: animateCurves 30s linear infinite;
    pointer-events: none;
}
.curve-3 {
    position: absolute;
    width: 100%;
    height: 250%;
    background: linear-gradient(to top,#1a1a1a0c, rgba(120, 255, 120, 0.015));
    animation: animateCurvesToUp 30s linear infinite;
    pointer-events: none;
}

h1{
    font-size: 3rem;
    text-align: center;
    padding: 2.5rem 0 .8rem 0;
}

h2{
    font-size: 1.8rem;
    padding: .5rem;
    text-align: center;
    background-color: #08344e67;
    transition: .2s;
    border-radius: 4px;
    opacity: .98;
    &:hover{
        background-color: #08344eba;
        opacity: 1;
    }
}

h3{
    font-size: 1.5rem;
    padding: .5rem;
}

h4{
    font-size: 1.1rem;
    padding: .5rem;
}

a{
    text-decoration: none;
    color: #c0c0c0;
    transition: all .5s;
    &:hover {
        color: #f79058;
    }
}

p{
    font-size: 1rem;
    line-height: 1.2rem;
}

table, tr, td, thead, tbody {
    font-weight: 200;
}

.content-margin {
    margin-top: 30px;
    padding-bottom: 100px;
}

/* footer */
.main-footer {
    z-index: 99;
    position: fixed;
    bottom: -26px;
    left: 50%;
    width: 500px;
    transform: translateY(-50%) translateX(-50%);
    height: 50px;
    background-color: #3e3e3ef5;
    border: 1px solid #90f7e8;
    border-bottom: 1px solid #3e3e3e;
    border-radius: 4px 4px 0 0;
    transition: .5s;
    -webkit-box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.79); 
    box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.79);
}
.main-footer .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
    position: relative; 
    width: 100%;
}

.main-footer .nav-item {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

.main-footer .nav-link {
    padding: 10px 55px;
    color: #dffdf8d6;
    text-decoration: none;
    transition: .4s;
    border: 1px solid transparent;
    &:hover {
        color: #f5f5f5;
        background: #000000;
        letter-spacing: .08rem;
        border: 1px solid transparent;
        padding: 10px 55px;
    }
}

.main-footer:hover {
    background-color: #3e3e3e;
    color: #fff;
}


.main-menu {
    z-index: 99;
    position: fixed;
    top: 23px;
    left: 50%;
    width: 500px;
    transform: translateY(-50%) translateX(-50%);
    padding: 0; 
    border: 1px solid #90f7e8d7;
    border-top: 1px solid #3e3e3e;
    border-radius: 0 0 4px 4px;
    background-color: #3e3e3e;
    transition: .5s;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.79); 
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.79);
}

.main-menu .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
    position: relative; 
    width: 100%;
}

.main-menu .nav-item {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

.nav-item {
    padding: 0;
}

.main-menu .nav-link {
    padding: 10px 55px;
    color: #dffdf8d6;
    text-decoration: none;
    transition: .4s;
    border: 1px solid transparent;
    &:hover {
        color: #f5f5f5;
        background: #000000;
        letter-spacing: .08rem;
        border: 1px solid transparent;
        padding: 10px 55px;
    }
}

.nav-link {
    &.active,
    &.show {
        color: #f5f5f5 !important;
        background: #000000;
        letter-spacing: .08rem;
        border-left: 1px solid #dffdf8;
        padding: 10px 55px !important;
    }
  }

.main-menu .dropdown-menu {
    background: #3e3e3efc;
    border: 1px solid #dffdf8d6;
    border-radius: 0 0 4px 4px;
    transition: .5s;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.79); 
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.79);
    height: 370px;
    &:hover {
        border: 1px solid #dffdf8;
    }
    .dropdown-item {
        color: #f5f5f5;
        text-decoration: none;
        transition: .5s;
        border: 1px solid transparent;
        &:hover {
            background-color: #000000;
            padding: 14px 10px;
            letter-spacing: .08rem;
            border-right: 1px solid #dffdf8;
            border-bottom: 1px solid #dffdf8;
        }
    }
}


.description {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 50px;
}


/*
    home
*/
.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d6;
    border-top: 1px solid #90f7e8;
    border-bottom: 1px solid #90f7e8;
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out;
    -webkit-box-shadow: inset 0px 10px 15px -10px rgba(144, 247, 232, 0.29), inset 0px -10px 15px -10px rgba(144, 247, 232, 0.29);
    box-shadow: inset 0px 10px 15px -10px rgba(144, 247, 232, 0.29), inset 0px -10px 15px -10px rgba(144, 247, 232, 0.29);
    display: flex;
    flex-direction: column;
}

@keyframes top-disappear {
    to {
        top: -100%;
        border-bottom: 1px solid #90f7e8;
    }
}
@keyframes bottom-disappear {
    to {
        bottom: -100%;
        border-top: 1px solid #90f7e8;
    }
}
@keyframes bordering-top {
    to {
        border-top: 1px solid #90f7e8;
    }
}
@keyframes bordering-bottom {
    to {
        border-bottom: 1px solid #90f7e8;
    }
}

.upper {
    position: fixed;
    top: 0;
    animation: top-disappear 2s ease forwards;
    animation-delay: 1.1s;
    flex: 1;
    background-color: black;
    height: 50%;
    width: 100vw;
    border-bottom: 0px solid black;
}
.lower {
    position: fixed;
    bottom: 0;
    animation: bottom-disappear 2s ease forwards;
    animation-delay: 1.1s;
    flex: 1;
    background-color: black;
    height: 50%;
    width: 100vw;
    border-top: 1px solid black;
}

.loadbar {
    position: absolute;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 2px;
    background-color: #90f7e8; 
    transition: width 1.2s ease-in-out;
}


.home-background {
    border-top: 1px solid #90f7e8;
    border-bottom: 1px solid #90f7e8;
    background-color: #000000;
    background-image: url('/static/img/backgrounds/far-from-humans-background-sm.jpg');
    background-position: top center;
    cursor: crosshair;
    background-size: 150%;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.79);
    box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.79);
    .hub-body{
        &:hover{
            opacity: 1;
        }
    }
}

.home-background .row {
    border: 1px solid rgba(255,255,255,0);
    width: 96vw;
    color: #90f7e8;
    font-size: .8rem;
    letter-spacing: .1rem;
    overflow: hidden;
}

.home-background {
    background-image: url('/static/img/backgrounds/far-from-humans-background-sm.jpg');
}

@media (min-width: 992px) {
    .home-background {
        background-image: url('/static/img/backgrounds/far-from-humans-background-md.jpg');
    }
}

@media (min-width: 1155px) {
    .home-background {
        background-image: url('/static/img/backgrounds/far-from-humans-background.jpg');
        background-position: center center;
    }
}


.moon-background {
    background-image: url('/static/img/backgrounds/far-from-humans-background-moon.png');
    background-size: 15%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    top: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.7;
    position: absolute;
}

.hub-header{
    height: 15vh;
}

.hub-top-center {
    width: 40vw;
    display: block;
}
.hub-body {
    background-image: url('/static/img/hub/interface.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55vw;
    height: 500px;
    opacity: 0;
    transition: 1.2s;
    .hub-middle-center {
        width: 42vw;
    }
}
.hub-footer {
    height: 17vh;
    .tanks-picto {
        width: 70px;
        height: 70px;
    }
    .hub-picto {
        margin: 20px 22px 20px 22px;
        max-height: 30px;
        width: 40px;
        opacity: .2;
        transition: .4s;
        &:hover{
            opacity: .9;
        }
    }
    .railgun-picto {
        opacity: .4;
        transition: .4s;
        &:hover{
            opacity: .9;
        }
    }
    .ray-picto {
        opacity: .4;
        transition: .4s;
        &:hover{
            opacity: .9;
        }
    }
    .railgun-key, .ray-key, .missile-key, .bomb-key, .shield-key{
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 1.1rem;
        color: #90f7e8;
        border: 1px ridge #90f7e8;
        border-radius: 8px;
        padding: 10px 15px;
        margin: 12px 20px;
        opacity: 0.2;
    }
    .railgun-key{
        padding: 10px 11px;
        opacity: 0.65;
    }
    .ray-key{
        opacity: 0.65;
    }
}

.local-area-label{
    .local-area{
        position: absolute;
        background-color: #90f7e815;
        border: 1px solid transparent;
        border-left: 1px solid #90f7e897;
        height: 60px;
        width: 20vw;
        margin-left: 15%;
        padding: 20px;
        opacity: 0.7;
        transition: .35s;
        .local-area-details{
            opacity: 0;
            transition: .3s;
        }
        &:hover{
            opacity: 1;
            height: 13vh;
            width: 20vw;
            border: 1px solid #90f7e8;
            border-radius: 8px;
            cursor: default;
            background-color: #90f7e83f;
            .local-area-details{
                opacity: 1;
                transition-delay: .3s;
            }
        }
    }
}
.communication-label{
    .communication{
        position: absolute;
        background-color: #90f7e815;
        border: 1px solid transparent;
        border-left: 1px solid #90f7e897;
        height: 60px;
        width: 20vw;
        margin-left: 15%;
        padding: 20px;
        opacity: 0.7;
        transition: .35s;
        .communication-details{
            opacity: 0;
            transition: .3s;
            
        }
        &:hover{
            opacity: 1;
            height: 13vh;
            width: 20vw;
            border: 1px solid #90f7e8;
            border-radius: 8px;
            cursor: default;
            background-color: #90f7e83f;
            .communication-details{
                opacity: 1;
                transition-delay: .3s;
            }
        }
    }
}
.speed-label{
    position: relative;
    &:hover {
        &:after{
            position: absolute;
            content: "- Cruise mode";
            margin: 0 10px;
        }
    }
}
.alt-label{
    position: relative;
    &:hover {
        &:before{
            position: absolute;
            content: "Targeting: Obsidian moon";
            margin: 20px -55px;
        }
    }
}
.antimatter-label{
    position: relative;
    &:hover {
        &:after{
            position: absolute;
            content: "54% remaining";
            margin: -18px -90px;
            cursor: default;
        }
    }
}
.weapons-label{
    position: relative;
    opacity: .8;
    cursor: default;
    &:hover {
        &:after{
            display: none;
            position: absolute;
            content: "Locked [safe area]";
            letter-spacing: .09rem;
            margin: -18px -140px;
            color: rgb(194, 194, 194);
        }
    }
}
.ship-state-label{
    .ship-state-area{
        text-align: left;
        height: 60px;
        width: 20vw;
        margin-left: 15%;
        padding: 0;
        opacity: 0.7;
        transition: 1.5s;
        cursor: default;
        .ship-state-title{
            display: block;
            position: absolute;
            margin: 0;
        }
        .elem01{ opacity: 0; transition: 0.2s; transition-delay: 1.05s; display: block; position: absolute; margin-top: 20px; }
        .elem02{ opacity: 0; transition: 0.2s; transition-delay: 0.9s; display: block; position: absolute; margin-top: 35px; }
        .elem03{ opacity: 0; transition: 0.2s; transition-delay: 0.75s; display: block; position: absolute; margin-top: 50px; }
        .elem04{ opacity: 0; transition: 0.2s; transition-delay: 0.6s; display: block; position: absolute; margin-top: 65px; }
        .elem05{ opacity: 0; transition: 0.2s; transition-delay: 0.45s; display: block; position: absolute; margin-top: 80px; }
        .elem06{ opacity: 0; transition: 0.2s; transition-delay: 0.3s; display: block; position: absolute; margin-top: 95px; }
        .elem07{ opacity: 0; transition: 0.2s; transition-delay: 0.15s; display: block; position: absolute; margin-top: 140px; }
        .ship-state-display{
            display: block;
            height: 170px;
            margin: 0 50% 0 auto;
            opacity: 0.6;
            transition: 1.1s;
            transition-delay: .7s;
        }
    }
        &:hover{
            opacity: 1;
            height: 200px;
            border-radius: 0 0 8px 0;
            cursor: default;
            .ship-state-display{
                opacity: 1;
                margin: 0 5% 0 auto;
                transition-delay: 0.1s;
            }
            .elem01{ opacity: 1; transition: 0.4s; transition-delay: 0.3s; display: block; position: absolute; margin-top: 30px; }
            .elem02{ opacity: 1; transition: 0.4s; transition-delay: 0.4s; display: block; position: absolute; margin-top: 45px; }
            .elem03{ opacity: 1; transition: 0.4s; transition-delay: 0.5s; display: block; position: absolute; margin-top: 60px; }
            .elem04{ opacity: 1; transition: 0.4s; transition-delay: 0.6s; display: block; position: absolute; margin-top: 75px; }
            .elem05{ opacity: 1; transition: 0.4s; transition-delay: 0.7s; display: block; position: absolute; margin-top: 90px; }
            .elem06{ opacity: 1; transition: 0.4s; transition-delay: 0.8s; display: block; position: absolute; margin-top: 105px; }
            .elem07{ opacity: 1; transition: 0.4s; transition-delay: 0.9s; display: block; position: absolute; margin-top: 150px; }
        }
    
}

.alert-message {
    position: fixed;
    z-index: 999;
    color: #e68836;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: 5px 15px;
    border: 1px solid #e68836;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}


.bullet{
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: rgb(255, 0, 38);
    border-radius: 40%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 22px 17px rgba(255, 11, 28 ,0.4); 
    box-shadow: 0px 0px 22px 17px rgba(255, 11, 28, 0.4);
}
.lazer{
    position: fixed;
    width: 3px;
    height: 3px;
    background-color: rgba(178, 236, 255, 0.8);
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 12px 7px rgba(178, 236, 255,0.4); 
    box-shadow: 0px 0px 12px 7px rgba(178, 236, 255,0.4);
}



/*
    voidrunners
*/
.families-row{
    background: none;
    border: 0 solid #F7D358;
}


.family-row{
    background: none;
    border-top: 1px solid #c0c0c0;
}

.collapsing {
    transition-duration: 0 !important;
}

.unite-row {
    position: relative;
    background-color: #141414;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px auto;
    border: 5px ridge;
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 20px;
    overflow: hidden;
    &.primary {
        border-image-source: linear-gradient(to right, #08344e, #3a9cd5, #5ba0c8, #6db5de);
        animation: gradientMotion 5s linear infinite; 
    }
    &.secondary {
        border-image-source: linear-gradient(to right, #FFA07A, #FF6347, #FF4500, #FF6347);
        animation: gradientMotionOrange 5s linear infinite; 
    }
    
}


