{{define "content"}}
<div class="page-main-container container-fluid content-margin">
    <div class="row justify-content-center">
        </div class="col-12">
            <h1>Shops</h1>
            <p class="description">The main shops of Far From Humans.</p>

            <div class="row families-row justify-content-center">
                <div class="col-12 col-lg-8">

                    <h2 data-toggle="collapse" href="#collapseAntimatter" role="button" aria-expanded="false" aria-controls="collapseAntimatter">
                        Antimatter Station
                    </h2>
                    <p class="text-center">Ravitaille en antimatière.</p>
                    <div class="row family-row collapse justify-content-center" id="collapseAntimatter">
                        
                    </div>

                    <h2 data-toggle="collapse" href="#collapseGunsmith" role="button" aria-expanded="false" aria-controls="collapseGunsmith">
                        Gunsmith
                    </h2>
                    <p class="text-center">Vend des armes, des munitions et des boucliers.</p>
                    <div class="row family-row collapse justify-content-center" id="collapseGunsmith">
                        
                    </div>

                    <h2 data-toggle="collapse" href="#collapseMaterial" role="button" aria-expanded="false" aria-controls="collapseMaterial">
                        Material trader
                    </h2>
                    <p class="text-center">Achat / vente de matériaux.</p>
                    <div class="row family-row collapse justify-content-center" id="collapseMaterial">
                        
                    </div>

                    <h2 data-toggle="collapse" href="#collapseMechanic" role="button" aria-expanded="false" aria-controls="collapseMechanic">
                        Mechanic
                    </h2>
                    <p class="text-center">Répare les voidrunners.</p>
                    <div class="row family-row collapse justify-content-center" id="collapseMechanic">
                        
                    </div>

                    <h2 data-toggle="collapse" href="#collapseScavenger" role="button" aria-expanded="false" aria-controls="collapseScavenger">
                        Scavenger
                    </h2>
                    <p class="text-center">Achat / vente d’artefacts et de matériaux, parfois rares.
                        Utilise une monnaie parallèle.</p>
                    <div class="row family-row collapse justify-content-center" id="collapseScavenger">
                        
                    </div>

                    <h2 data-toggle="collapse" href="#collapseVoidrunner" role="button" aria-expanded="false" aria-controls="collapseVoidrunner">
                        Voidrunner dealer
                    </h2>
                    <p class="text-center">Achat / vente de voidrunners.</p>
                    <div class="row family-row collapse justify-content-center" id="collapseVoidrunner">
                        
                    </div>

                    <h2 data-toggle="collapse" href="#collapseWorkshop" role="button" aria-expanded="false" aria-controls="collapseWorkshop">
                        Workshop
                    </h2>
                    <p class="text-center">Modifie l’apparence des voidrunners.</p>
                    <div class="row family-row collapse justify-content-center" id="collapseWorkshop">
                        
                    </div>
                    
                    
                </div>
            </div>
                    
        </div>
    </div>
</div>
{{end}}
