{{define "content"}}
<div class="page-main-container container-fluid content-margin">
    <div class="row justify-content-center">
        </div class="col-12">
            <h1>Voidrunners</h1>
            <p class="description">The main voidrunners manufacturers of Far From Humans.</p>

            <div class="row families-row justify-content-center">
                <div class="col-12 col-lg-8">
                    <h2>Moteurs MEM</h2>
                    <div class="row family-row justify-content-center">
                        <div class="col-10 my-2">
                            <p>
                                L'un des concepts les plus couramment cités est le moteur à distorsion, également connu sous le nom de moteur Alcubierre, du nom de son inventeur Miguel Alcubierre. Le moteur à distorsion fonctionne en créant une onde gravitationnelle autour du vaisseau spatial, créant une « bulle » qui modifie l'espace-temps autour du vaisseau spatial. Le vaisseau est alors transporté à l'intérieur de cette bulle, qui se déplace à des vitesses proches de celle de la lumière, mais le vaisseau lui-même ne dépasse pas cette limite. Cela permettrait de contourner le problème de la relativité restreinte et de voyager rapidement à travers l'espace.
Dans le jeu Mass Effect Andromeda, les vaisseaux spatiaux utilisent des "moteurs à distorsion" (ou "moteurs FTL", pour Faster Than Light), qui permettent de créer des bulles d'espace-temps déformé pour voyager à des vitesses supraluminiques. Cette technologie est également appelée "moteur à effet massif" ou "MEM". 
Il n'y a pas de limite théorique de vitesse pour les moteurs FTL (Faster-Than-Light) ou MEM (Manipulateur d'Espace-temps Macroscopique) car ils contournent les lois de la relativité restreinte, qui limitent la vitesse de déplacement des objets dans l'espace-temps. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row families-row justify-content-center">
                <div class="col-12 col-lg-8">
                    <h2>Families</h2>
                    <div class="row family-row justify-content-center">

                        {{range .}}
                        <div class="col-10 my-2">
                            <h3>{{if .Family}}{{.Family}}{{else}}N/A{{end}}</h3>
                            <div class="row unite-row primary align-items-center">
                                <div class="col-12">
                                    <h4>{{if .Model}}{{.Model}}{{else}}N/A{{end}}</h4>
                                </div>
                                <div class="col-4">
                                    <img src="/static/img/voidrunners/{{.ImageURL}}" class="img-fluid bg-white">
                                </div>
                                <div class="col-8">
                                    <table class="table table-striped table-dark">
                                        <tbody>
                                            <tr>
                                                <td scope="col">Firepower</td><td scope="col">{{if .Firepower}}{{.Firepower}}{{else}}N/A{{end}}</td>
                                            </tr>
                                            <tr>
                                                <td scope="col">Shield</td><td scope="col">{{if .Shield}}{{.Shield}}{{else}}N/A{{end}}</td>
                                            </tr>
                                            <tr>
                                                <td scope="col">Speed</td><td scope="col">{{if .Speed}}{{.Speed}}{{else}}N/A{{end}}</td>
                                            </tr>
                                            <tr>
                                                <td scope="col">Agility</td><td scope="col">{{if .Agility}}{{.Agility}}{{else}}N/A{{end}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="col-12">
                                    <h4>Details</h4>
                                </div>
                                <div class="col-12">
                                    <table class="table table-striped table-dark">
                                        <thead>
                                            <tr>
                                                <th scope="col">Cargo</th>
                                                <th scope="col">Special</th>
                                                <th scope="col">Rarity</th>
                                                <th scope="col">Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="col">{{if .Cargo}}{{.Cargo}}{{else}}N/A{{end}}</th>
                                                <th scope="col">{{if .Special}}{{.Special}}{{else}}N/A{{end}}</th>
                                                <th scope="col">{{if .Rarity}}{{.Rarity}}{{else}}N/A{{end}}</th>
                                                <th scope="col">{{if .Cost}}{{.Cost}}{{else}}N/A{{end}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12">
                                    <h4>Description</h4>
                                    {{if .Description}}{{.Description}}{{else}}N/A{{end}}
                                    <h4>Note</h4>
                                    {{if .Note}}{{.Note}}{{else}}N/A{{end}}
                                </div>
                            </div>
                            
                        </div>
                        {{end}}

                    </div>
                    
                </div>
            </div>
                    
        </div>
    </div>
</div>
{{end}}